In [2]:
import pandas as pd

donations_df = pd.read_excel('./data/ForeignGifts.xls', skiprows=1)
# donations_df.loc[:, 'Foreign Gift Amount'] = donations_df.loc[:, 'Foreign Gift Amount'].apply('{:,}'.format)
donations_df.head()

,ID,OPEID,Institution Name,City,State,Foreign Gift Received Date,Foreign Gift Amount,Gift Type,Country of Giftor,Giftor Name
0,1,324200,Carnegie Mellon University,Pittsburgh,PA,2015-01-01,77391377,Contract,QATAR,Qatar Foundation for Education
1,2,143400,American University (The),Washington,DC,2012-01-25,500000,Monetary Gift,BAHRAIN,Kingdom of Bahrain
2,3,143400,American University (The),Washington,DC,2013-05-28,500000,Monetary Gift,BAHRAIN,Sheikh Salman Bin Al-Khalifa
3,4,143400,American University (The),Washington,DC,2015-09-10,500000,Monetary Gift,KUWAIT,NaN
4,5,143400,American University (The),Washington,DC,2012-05-17,610000,Monetary Gift,ENGLAND,NaN

In [3]:
donations_df.groupby('Institution Name').count()['Foreign Gift Amount'].sort_values(ascending=False)

schools = donations_df['Institution Name'].unique()
school_lst = []
for school in schools:
    school_lst.append(school.split(' (')[0])

In [4]:
import time
import numpy as np
from geopy.geocoders import Nominatim
from geopy import exc


geolocator = Nominatim(user_agent='foerign_donations')
schools_df = pd.DataFrame(columns=['Latitude', 'Longitude'])
school_names_to_fix = []
for school in school_lst:
    try:
        location = geolocator.geocode(school)
        if location.address.split(' ')[-1].strip() != 'America':
            school_names_to_fix.append(school)
            print(school + '\t' + 'SKIPPED')
            continue
        schools_df.at[school, 'Latitude'] = location.latitude
        schools_df.at[school, 'Longitude'] = location.longitude
        print(school + '\t' + location.address.split(' ')[-1])
    except AttributeError:
        schools_df.at[school, 'Latitude'] = np.nan
        schools_df.at[school, 'Longitude'] = np.nan
        school_names_to_fix.append(school)
        print(school + '\t' + 'SKIPPED')
    except exc.GeocoderTimedOut:
        print('Paused... Waiting for server.')
        time.sleep(10)
        location = geolocator.geocode(school)
        schools_df.at[school, 'Latitude'] = location.latitude
        schools_df.at[school, 'Longitude'] = location.longitude        
    time.sleep(1)

Carnegie Mellon University	America
American University	America
Amherst College	America
Arizona State University	America
Michigan State University	America
University of Colorado Boulder	America
Massachusetts Institute of Technology	America
Virginia Commonwealth University	America
California Institute of Technology	America
University of Arkansas	America
Georgetown University	America
Harvard University	America
Northwestern University	America
University of California, San Diego	America
Duke University	America
Texas A&M University	America
New York University	America
Hult International Business School	America
University of Illinois at Urbana-Champaign	America
Rice University	America
Kansas State University	America
University of Southern California	America
University of Arizona	America
Yale University	America
Johns Hopkins University	SKIPPED
University of California, Los Angeles	America
Eastern Washington University	America
George Washington University	America
University of Washington - Seattle	America
Cornell University	America
Juilliard School	America
George Mason University	America
Tufts University	America
University of Michigan - Ann Arbor	America
University of California, Berkeley	America
Boston University	America
Ball State University	America
University of Kansas	America
Emory University	America
Princeton University	America
Indiana University - Bloomington	America
University of Oregon	America
New York Institute of Technology	SKIPPED
Oregon State University	America
Azusa Pacific University	America
Babson College	America
Stanford University	America
University of Chicago	America
Oregon Health & Science University	America
Colorado State University	America
DePaul University	America
University of California, Irvine	America
Vanderbilt University	America
University of Pittsburgh - Pittsburgh	America
Purdue University	America
Wake Forest University	America
University of New England	America
University of Rochester	America
Pennsylvania State University	America
University of Oklahoma	America
University of Pennsylvania	America
Georgia Institute of Technology	America
University of Georgia	America
Fort Hays State University	America
Columbia University in the City of New York	America
Saint John's University	America
Teachers College, Columbia University	SKIPPED
Ohio State University	America
University of Texas at Austin	America
University of North Carolina - Chapel Hill	America
Thunderbird School of Global Management	America
University of Kentucky	America
University of Iowa	America
University of Texas at Dallas	America
New School, The	America
University of Louisville	America
School of the Art Institute of Chicago	America
Graceland University	America
University of Miami	America
Missouri State University	America
Dartmouth College	America
Jacksonville University	America
Texas Tech University	America
Belhaven University	America
Biola University	America
Brigham Young University	America
Brown University	America
University of Colorado Denver	America
University of Notre Dame	America
Bryant University	America
University of Virginia	America
University of Florida	America
University of Wisconsin - Madison	America
Washington Adventist University	America
MCPHS University	America
University of Minnesota - Twin Cities	America
California Institute of Advanced Management	SKIPPED
Washington University in St. Louis	America
University of Tennessee	America
Indiana University - Purdue University Indianapolis	SKIPPED
University of California, Santa Barbara	America
University of Cincinnati	America
University of California, Davis	America
University of New Hampshire	America
University of California, Santa Cruz	America
Ohio University	America
Northwood University	America
Marian University	America
University of Missouri - Columbia	America
Miami University	America
Culinary Institute of America	America
New Jersey Institute of Technology	America
University of North Texas Health Science Center at Fort Worth	SKIPPED
New Mexico State University	America
Soka University of America	America
Rochester Institute of Technology	SKIPPED
University of Vermont and State Agricultural College	SKIPPED
University of Texas Southwestern Medical Center	America
University of Utah	America
Keuka College	America
Virginia Polytechnic Institute & State University	America
Gustavus Adolphus College	America
Haverford College	America
Middlebury College	America
Stevens Institute of Technology	America
Iowa State University of Science & Technology	SKIPPED
Worcester Polytechnic Institute	America
University of North Texas	America
Saint Mary's College	America
University of California, San Francisco	America
Smith College	America
Washington State University	America
University of Texas at El Paso	America
Colgate University	America
Colorado School of Mines	America
Wayne State University	America
Yeshiva University	America
University of Mississippi	America
Bucknell University	America
Villanova University	America
Corban University	America
Polytechnic Institute of New York University	SKIPPED
University of Texas at Arlington	America
Keck Graduate Institute of Applied Life Sciences	SKIPPED
Lincoln University	America
Michigan Technological University	America
Middle Tennessee State University	America
Mount Holyoke College	America
Westminster Theological Seminary	America
Regis College	America
Saint Louis University	America
St. Lawrence University	SKIPPED
University of Houston	America
University of Illinois at Chicago	America
University of Phoenix	America
University of Portland	America
University of Tennessee Health Science Center	America
Valencia College	SKIPPED
Wesleyan College	America
Western International University	SKIPPED
Westmont College	America

In [5]:
school_names_to_fix

['Johns Hopkins University',
 'New York Institute of Technology',
 'Teachers College, Columbia University',
 'California Institute of Advanced Management',
 'Indiana University - Purdue University Indianapolis',
 'University of North Texas Health Science Center at Fort Worth',
 'Rochester Institute of Technology',
 'University of Vermont and State Agricultural College',
 'Iowa State University of Science & Technology',
 'Polytechnic Institute of New York University',
 'Keck Graduate Institute of Applied Life Sciences',
 'St. Lawrence University',
 'Valencia College',
 'Western International University']

In [6]:
new_school_names = {'Johns Hopkis University': 'Johns Hopkins University, USA',
                    'New York Institute of Technology': 'New York Institute of Technology, USA',
                    'Teachers College, Columbia University': 'Teachers College',
                    'California Institute of Advanced Management': 'Platt College Los Angeles',
                    'Indiana University - Purdue University Indianapolis': 'IUPUI',
                    'University of North Texas Health Science Center at Fort Worth': 'UNTHSC',
                    'Rochester Institute of Technology': 'RIT, USA',
                    'University of Vermont and State Agricultural College': 'University of Vermont',
                    'Iowa State University of Science & Technology': 'Iowa State University',
                    'Polytechnic Institute of New York University': 'New York City College of Technology',
                    'Keck Graduate Institute of Applied Life Sciences': 'Keck Graduate Institute',
                    'St. Lawrence University': 'Saint Lawrence University, USA',
                    'Valencia College': 'Valencia College West Campus',
                    'Western International University': 'Fountainhead Pkwy, Arizona'
                   }

for school, hack_name in new_school_names.items():
    try:
        location = geolocator.geocode(hack_name)
        schools_df.at[school, 'Latitude'] = location.latitude
        schools_df.at[school, 'Longitude'] = location.longitude
        print(school + '\t' + hack_name + '\t' + location.address + '\n')
    except AttributeError:
        schools_df.at[school, 'Latitude'] = np.nan
        schools_df.at[school, 'Longitude'] = np.nan
        school_names_to_fix.append(school)
    except exc.GeocoderTimedOut:
        time.sleep(10)
        schools_df.at[school, 'Latitude'] = location.latitude
        schools_df.at[school, 'Longitude'] = location.longitude        
    time.sleep(1)

Johns Hopkis University	Johns Hopkins University, USA	Johns Hopkins University, Cresmont Avenue, Remington, Baltimore, Maryland, 21211, United States of America

New York Institute of Technology	New York Institute of Technology, USA	New York Institute of Technology, Polo Drive, Wheatley, Old Westbury, Nassau County, New York, 11545, United States of America

Teachers College, Columbia University	Teachers College	Teachers College, West 122nd Street, Morningside Heights, Manhattan Community Board 9, New York County, New York, 10027, United States of America

California Institute of Advanced Management	Platt College Los Angeles	Platt College - Los Angeles, Fremont Avenue, Ramona Park, Alhambra, Los Angeles County, California, 91803, United States of America

Indiana University - Purdue University Indianapolis	IUPUI	Rotary Park Space at IUPUI, Glendale, Indianapolis, Marion, Indiana, United States of America

University of North Texas Health Science Center at Fort Worth	UNTHSC	855, Montgomery Street, Fort Worth, Tarrant County, Texas, 76107, United States of America

Rochester Institute of Technology	RIT, USA	Rochester Institute of Technology (RIT), Lomb Memorial Drive, Genesee Junction, Henrietta Town, Monroe County, New York, 14623, United States of America

University of Vermont and State Agricultural College	University of Vermont	University of Vermont, East Avenue, Twin Orchards, South Burlington, Chittenden County, Vermont, 05401, United States of America

Iowa State University of Science & Technology	Iowa State University	Iowa State University, Hilton Court, Old Orchard Mobile Home Park, Ames, Story County, Iowa, 50011, United States of America

Polytechnic Institute of New York University	New York City College of Technology	New York City College of Technology, Tech Place, Downtown Brooklyn, New York, Brooklyn, Kings County, New York, 11201, United States of America

Keck Graduate Institute of Applied Life Sciences	Keck Graduate Institute	Keck Graduate Institute, Watson Drive, Claremont, Los Angeles County, California, 91711, United States of America

St. Lawrence University	Saint Lawrence University, USA	St Lawrence University, Canton, Saint Lawrence County, New York, 13617, United States of America

Valencia College	Valencia College West Campus	Valencia College West Campus, Valencia Community College Drive, Orlando, Orange County, Florida, 32811, United States of America

Western International University	Fountainhead Pkwy, Arizona	North Fountainhead Drive, Fountain Hills, Maricopa County, Arizona, 85268, United States of America

In [7]:
schools_df.isnull().values.any()

False

In [8]:
school_names_map = {}
for split_name, orig_name in zip(schools_df.index, schools):
    school_names_map[split_name] = orig_name

schools_df_final = schools_df.rename(school_names_map)

In [9]:
merged_df = pd.read_csv('donation_democracy_index.csv')

In [10]:
country_lst = list(merged_df.groupby('Country of Giftor').count().index)
country_df = pd.DataFrame(index=country_lst, columns=['Latitude', 'Longitude'])
country_name_to_fix = []
for country in country_lst:
    try:
        location = geolocator.geocode(country)
        country_df.at[country, 'Latitude'] = location.latitude
        country_df.at[country, 'Longitude'] = location.longitude
    except AttributeError:
        country_df.at[country, 'Latitude'] = np.nan
        country_df.at[country, 'Longitude'] = np.nan
        country_name_to_fix.append(country)
    except exc.GeocoderTimedOut:
        time.sleep(10)
        country_df.at[country, 'Latitude'] = location.latitude
        country_df.at[country, 'Longitude'] = location.longitude
    print(country, location.latitude, location.longitude)
    time.sleep(1)

Afghanistan 33.7680065 66.2385139
Angola -11.8775768 17.5691241
Argentina -34.9964963 -64.9672817
Armenia 40.7696272 44.6736646
Australia -24.7761086 134.755
Austria 47.2000338 13.199959
Azerbaijan 40.3936294 47.7872508
Bahamas 24.7736546 -78.0000547
Bahrain 26.1551249 50.5344606
Bangladesh 24.4768783 90.2932426
Barbados 13.1500331 -59.5250305
Belarus 53.4250605 27.6971358
Belgium 50.6402809 4.6667145
Bermuda 32.3018217 -64.7603583
Bolivia -17.0568696 -64.9912286
Bosnia And Herzegovina 44.3053476 17.5961467
Bosnia-Hercegovina 44.3053476 17.5961467
Botswana -23.1681782 24.5928742
Brazil -10.3333333 -53.2
British West Indies 21.772793399999998 -72.21725822003631
Bulgaria 42.6073975 25.4856617
Burma 17.1750495 95.9999652
Canada 61.0666922 -107.9917071
Cayman Islands (The) 19.5417212 -80.5667132
Ceylon 43.5335672 -94.6316462
Chile -31.7613365 -71.3187697
China 35.000074 104.999927
Colombia 2.8894434 -73.783892
Costa Rica 10.2735633 -84.0739102
Croatia 45.5643442 17.0118954
Curaçao 12.1845 -68.9640875031406
Cyprus 34.9823018 33.1451285
Czech Republic 49.8167003 15.4749544
Denmark 55.670249 10.3333283
Dominican Republic 19.0974031 -70.3028026
Ecuador -1.3397668 -79.3666965
Egypt 26.2540493 29.2675469
El Salvador 13.8000382 -88.9140683
England 52.7954791 -0.5402402866174321
Eritrea 15.9500319 37.9999668
Ethiopia 10.2116702 38.6521203
Finland 63.2467777 25.9209164
France 46.603354 1.8883335
Georgia 32.3293809 -83.1137366
Germany 51.0834196 10.4234469
Ghana 8.0300284 -1.0800271
Greece 38.9953683 21.9877132
Grenada 12.1360374 -61.6904045
Guam 13.450125700000001 144.75755102972062
Guatemala 15.6356088 -89.8988087
Guernsey 49.579520200000005 -2.5290434448309886
Haiti 19.1399952 -72.3570972
Honduras 15.2572432 -86.0755145
Hong Kong 22.2793278 114.1628131
Hungary 47.1817585 19.5060937
Iceland 64.9841821 -18.1059013
India 22.3511148 78.6677428
Indonesia -2.4833826 117.8902853
Iran 32.6475314 54.5643516
Iraq 33.0955793 44.1749775
Ireland 52.865196 -7.9794599
Isle Of Man 54.2358167 -4.514598745698255
Israel 31.5313113 34.8667654
Italy 42.6384261 12.674297
Jamaica 18.1152958 -77.1598454610168
Japan 36.5748441 139.2394179
Jersey 49.21230655 -2.1255999596428845
Jordan 31.1667049 36.941628
Kazakhstan 47.2286086 65.2093197
Kenya 1.4419683 38.4313975
Korea 36.638392 127.6961188
Kuwait 29.2733964 47.4979476
Latvia 56.8406494 24.7537645
Lebanon 33.8750629 35.843409
Lesotho -29.6039267 28.3350193
Liberia 5.7499721 -9.3658524
Libya 26.8234472 18.1236723
Liechtenstein 47.1416307 9.5531527
Lithuania 55.3500003 23.7499997
Luxembourg 49.8158683 6.1296751
Madagascar -18.9249604 46.4416422
Malawi -13.2687204 33.9301963
Malaysia 4.5693754 102.2656823
Mali 16.3700359 -2.2900239
Malta 35.8885993 14.4476911
Marshal Islands (The) 59.863314599999995 30.23581751407408
Mauritius -20.2759451 57.5703566
Mexico 19.4326296 -99.1331785
Monaco 43.7323492 7.4276832
Morocco 31.1728205 -7.3362482
Mozambique -19.302233 34.9144977
Namibia -23.2335499 17.3231107
Nepal 28.1083929 84.0917139
New Zealand -41.5000831 172.8344077
Nigeria 9.6000359 7.9999721
Norway 64.5731537 11.52803643954819
Oman 21.0000287 57.0036901
Pakistan 30.3308401 71.247499
Palestine, State Of 31.7621153 -95.6307891
Panama 8.559559 -81.1308434
Papua New Guinea -5.6816069 144.2489081
Peru -6.8699697 -75.0458515
Philippines 12.7503486 122.7312101
Poland 52.215933 19.134422
Portugal 40.0332629 -7.8896263
Puerto Rico 18.2214149 -66.41328179513847
Qatar 25.3336984 51.2295295
Romania 45.9852129 24.6859225
Russia 64.6863136 97.7453061
Rwanda -1.9646631 30.0644358
Saudi Arabia 25.6242618 42.3528328
Scotland 56.7861112 -4.1140518
Senegal 14.4750607 -14.4529612
Serbia 44.024322850000004 21.07657433209902
Singapore 1.357107 103.8194992
Slovakia 48.7411522 19.4528646
Slovenia 45.8133113 14.4808369
South Africa -28.8166236 24.991639
South Korea 36.638392 127.6961188
Spain 39.3262345 -4.8380649
St. Lucia 13.8250489 -60.975036
Swaziland -26.5624806 31.3991317
Sweden 59.6749712 14.5208584
Switzerland 46.7985624 8.2319736
Syrian Arab Republic 34.6401861 39.0494106
Taiwan 23.59829785 120.83536313817521
Tanzania -6.5247123 35.7878438
Thailand 14.8971921 100.83273
The Netherlands 52.5001698 5.7480821
Tokelau -9.1676396 -171.8196878
Trinidad 10.443024300000001 -61.26130538878063
Tunisia 33.8439408 9.400138
Turkey 38.9597594 34.9249653
Uganda 1.5333554 32.2166578
United Arab Emirates 24.0002488 53.9994829
United Nations 40.75026105 -73.96719495316776
Uruguay -32.8755548 -56.0201525
Usa 39.7837304 -100.4458825
Venezuela 8.0018709 -66.1109318
Vietnam 13.2904027 108.4265113
Virgin Islands (British) 18.4024395 -64.5661642
Wales 52.2928116 -3.73893
Zambia -14.5186239 27.5599164
Zimbabwe -18.4554963 29.7468414

In [11]:
merged_country_df = pd.merge(merged_df, country_df, left_on='Country of Giftor', right_index=True, how='outer')
merged_country_df = merged_country_df.rename({'Latitude': 'Country Latitude', 'Longitude': 'Country Longitude'}, axis=1)

In [12]:
merged_final_df = pd.merge(merged_country_df, schools_df_final, left_on='Institution Name', right_index=True, how='outer')
merged_final_df = merged_final_df.rename({'Latitude': 'School Latitude', 'Longitude': 'School Longitude'}, axis=1)
merged_final_df.to_csv('merged_data_w_coord.csv')

In [19]:
merged_final_df.columns

Index(['Country of Giftor', 'Institution Name', 'ID', 'OPEID', 'City', 'State',
       'Foreign Gift Received Date', 'Foreign Gift Amount', 'Gift Type',
       'Giftor Name', 'Country to merge on', 'Rank', 'Score',
       'Electoral process and pluralism', 'Functioning of government',
       'Political participation', 'Political culture', 'Civil liberties',
       'Regime type', 'Region', 'Country Latitude', 'Country Longitude',
       'School Latitude', 'School Longitude'],
      dtype='object')